<div>

  <h1 class="logo-change">THUPost</h1>

</div>

<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <h3>请到您的 清华邮箱 验证您的身份</h3>
    </br>
    <h3>并确认点击 确认链接 创建账号</h3>

    </br>
    <a class="btn btn-sm btn-white btn-block" href="<%= new_user_session_path %>">登录</a>

</div>
</div>
