<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
    <div class="slick_demo">

                  <div>
                      <div class="ibox-content">

                          <div class="image"><img src="/images/003.jpg"/></div>
                      </div>
                  </div>
                  <div>
                      <div class="ibox-content">

                          <div class="image"><img src="/images/001.jpeg"/></div>
                      </div>
                  </div>

              </div>
            </div>
</div>

    <h2>Recent Posts</h2>
    <div class="row">
        <div class="col-lg-12">

              <div class="wrapper wrapper-content animated fadeInRight">
                  <div class="row">
                    <% @products.each do |e|%>
                      <div class="col-md-2">
                          <div class="ibox">
                              <div class="ibox-content product-box">

                                  <div class="product-imitation">
                                      [ INFO ]
                                  </div>
                                  <div class="product-desc">
                                              <span class="product-price">
                                                  $<%= e.price %>
                                              </span>
                                      <a href="#" class="product-name"> <%= e.title %></a>

                                      <div class="small m-t-xs">
                                          <%= e.description %>
                                      </div>
                                      <div class="m-t text-righ">
                                          <a href="<%= product_path(e) %>" class="btn btn-xs btn-outline btn-primary"> Info <i class="fa fa-long-arrow-right"></i> </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    <% end %>

                  </div>
            </div>
        </div>
    </div>
</div>


<script>
$(function(){
  $('.slick_demo').slick(
    {
      dots:true
    }
  );
});
</script>
