<div class="loginColumns animated fadeInDown loginColumns-long">
  <br/>
  <br/>
  <br/>
  <br/>

  <div class="row">
    <div class="col-md-7">
      <h1 class="logo-name">THUPost</h1>
      <h3 class="login-text">Hope you enjoy every deal here</h3>
    </div>

    <div class="col-md-5">
      <div class="login-box">

        <%= form_for(:user, :url => session_path(:user),html: {class: 'm-t' }) do |f| %>
        <%= devise_error_messages! %>
            <input id="email" name="user[email]" style="display: none;">
            <div class="form-group" style="height: 34px; margin-bottom: 20px;">
              <input id="email-input" class="form-control" placeholder="邮箱" required="required" style="width:110px;float: left;"
                     oninvalid="this.setCustomValidity('请填写邮箱')" oninput="setCustomValidity('')" />
              <span style="float: right;height: 34px;line-height: 34px;color: #fff;">@mails.tsinghua.edu.cn</span>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="密码" name="user[password]" required="required"
                     oninvalid="this.setCustomValidity('请填写密码')" oninput="setCustomValidity('')" />
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">登录</button>

            <a href="<%= new_user_password_path %>">
              <small>忘记密码?</small>
            </a>

            <p class="text-muted text-center">
              <small>没有注册?</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" href="<%= new_user_registration_path %>">现在注册</a>
        <% end %>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  <hr/>
  <div class="row">
    <p class="col-md-6">
      Copyright CST35
    </p>
    <p class="col-md-6 text-right">
      <small>© 2015-2016</small>
    </p>
  </div>
</div>

<script>
  $(function () {
    $('form').submit(function () {
      $('#email').val($('#email-input').val() + '@163.com');
    });
  });

</script>
