<p>尊敬的 <%= @resource.email %>：</p>

<p>您已请求重置密码，请点击下方链接进行设置</p>

<p><%= link_to '重置密码链接', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您未请求重置密码，请忽略这封邮件。您的密码将不会被更改。</p>

<p>THUPOST小组</p>