<div class="project-list">

  <table class="table table-hover">
    <tbody>
      <% @product.orders.each do |e| %>
      <tr>
        <td class="project-people">
          <a href=""><img alt="image" class="img-circle" src="/images/a1.jpg"></a>
          <%= e.user.email %>
        </td>

        <td class="project-completion">
          <span class="label label-warning">￥<%= e.price %></span>
        </td>


        <td class="project-title">
          <a href="/appviews/project_detail"><%= e.description %></a>
          <br>
          <small><%= e.created_at %></small>
        </td>


        <td class="project-status">
          <% if action_name == 'show' %>
          <span class="label label-primary">Active</span>
          <% else %>
          <button class="btn btn-success btn-circle btn-lg" type="button">
                        <i class="fa fa-send"></i>
                    </button>
          <% end %>
        </td>

      </tr>
      <% end %>

    </tbody>
  </table>
</div>
