<div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h5 class="modal-title">宝贝二维码</h5>
                        </div>
                        <div class="modal-body" >

                          <div class="vertical-timeline-block">
                              <div class="vertical-timeline-content" style="margin-left: 0px;">
                                  <div class="vertical-container" style="text-align:center">
                            <%=image_tag @qr%>
                          </div>
                        </div>
                      </div>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-content" style="margin-left: 0px;">
                                    <div class="vertical-container">
                                    <h4>1.用微信扫描二维码</h4>
                                    <h4>2.可能需要登陆</h4>
                                    <h4>3.点击右上角的"三个点",选择分享到朋友圈</h4>
                                    <h4>4.编辑你的宣传语</h4>
                                    <h4>5.发送</h4>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
