<div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h5 class="modal-title">宝贝二维码</h5>
                        </div>
                        <div class="modal-body">
                            <%=image_tag @qr%>
                            <p>
                            用微信扫描二维码，登陆，点击右上角，分享到朋友圈
                          </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
