
<%= csrf_meta_tag %>

<div class="wrapper wrapper-content animated fadeInRight">

  <div>
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3>添加商品</h3>
      </div>
      <div class="ibox-content">
        <div class="row">
          <%= form_for @product, url: {action: "create"} ,:html => {:id => 'mydropzone', :enctype => 'multipart/form-data'} do |f| %>

          <!-- <form id="my-awesome-dropzone" enctype='multipart/form-data' multipart=true method="post" class="dropzone" action="create"> -->
          <div class="col-sm-6 b-r">
            <div class="form-group"><label>商品名称</label>
              <input type="text" placeholder="30字以内" name="title" class="form-control" id="title"
                     required="" maxlength="32" ></div>

              <div class="form-group"><label>标签</label>
                <div class="input-group" name="tag">
                  <select data-placeholder="选择标签" class="chosen-select" multiple style="width:350px;" tabindex="4" name="tag">
                    <option value="电子产品">电子产品</option>
                    <option value="衣服">衣服</option>
                    <option value="生活用品">生活用品</option>
                    <option value="书籍">书籍</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label>最低价格</label>
                <input type="text" name="price" class="form-control" required="" placeholder="请不要超过8位数~谢谢" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="8">
              </div>
                <div class="form-group">
                  <label >描述</label>
                  <textarea type="text" rows="3" name="description" class="form-control" required="" maxlength="200" placeholder="200字以内"></textarea>
                  <input type="hidden" name="tag" id="form_tag"> </input>
                </div>

                <button class="btn btn-lg btn-primary" type="submit"><strong>提交</strong></button>

              </div>

              <div class="col-sm-6">
                <small>请上传至少一张图片，且每张图片大小不超过2M </small>
                <div class="row">

                  <div class="col-xs-3">
                    <div style="height:100px;width:100px;">
                      <img id="target_0" alt="image" src="/images/e2.jpeg" height="99" width="99" />
                    </div>
                    <div class="fileUpload btn btn-white" id="g0" style ="display:block;" >
                      <span>上传图片</span>
                      <input required="" type="file" class="upload" name="product[photo0]" id="pictureInput0" accept="image/png, image/jpeg"/>
                    </div>
                    <button class="fileUpload btn btn-danger" id="cancel_0" style="display:none;margin-left: 22px;" type="button">取消</button>
                  </div>

                  <div class="col-xs-3">
                    <div style="height:100px;width:100px;">
                      <img id="target_1" alt="image" src="/images/e2.jpeg" height="99" width="99" />
                    </div>
                    <div class="fileUpload btn btn-white" id="g1" style ="display:block;" >
                      <span>上传图片</span>
                      <input type="file" class="upload" name="product[photo1]" id="pictureInput1"/>
                    </div>
                    <button class="fileUpload btn btn-danger" id="cancel_1" style="display:none;margin-left: 22px;" type="button">取消</button>
                  </div>

                  <div class="col-xs-3">
                    <div style="height:100px;width:100px;">
                      <img id="target_2" alt="image" src="/images/e2.jpeg" height="99" width="99" />
                    </div>
                    <div class="fileUpload btn btn-white" id="g2" style ="display:block;" >
                      <span>上传图片</span>
                      <input type="file" class="upload" name="product[photo2]" id="pictureInput2"/>
                    </div>
                    <button class="fileUpload btn btn-danger" id="cancel_2" style="display:none;margin-left: 22px;" type="button">取消</button>
                  </div>
                </div>
              </br>

              <div class="row">

                <div class="col-xs-3">
                  <div style="height:100px;width:100px;">
                    <img id="target_3" alt="image" src="/images/e2.jpeg" height="99" width="99" />
                  </div>
                  <div class="fileUpload btn btn-white" id="g3" style ="display:block;" >
                    <span>上传图片</span>
                    <input type="file" class="upload" name="product[photo3]" id="pictureInput3"/>
                  </div>
                  <button class="fileUpload btn btn-danger" id="cancel_3" style="display:none;margin-left: 22px;" type="button">取消</button>
                </div>
                <div class="col-xs-3">
                  <div style="height:100px;width:100px;">
                    <img id="target_4" alt="image" src="/images/e2.jpeg" height="99" width="99" />
                  </div>
                  <div class="fileUpload btn btn-white" id="g4" style ="display:block;" >
                    <span>上传图片</span>
                    <input type="file" class="upload" name="product[photo4]" id="pictureInput4"/>
                  </div>
                  <button class="fileUpload btn btn-danger" id="cancel_4" style="display:none;margin-left: 22px;" type="button">取消</button>
                </div>

              </div>

            </div>

            <hr>




          </form>

          <% end %>

        </div>

      </div>

    </div>
  </div>
</div>
</div>

</div>


<script type="text/javascript">


$(function() {

  function cancel(picinput,cancel,taget,g)
  {
    document.getElementById(picinput).value = "";
    document.getElementById(cancel).style.display = 'none'
    document.getElementById(taget).src="/images/e2.jpeg";
    document.getElementById(g).style.display = 'block'
  }

  function show(cancel,taget,g,file)
  {
    document.getElementById(taget).src=file;
    document.getElementById(cancel).style.display = 'inline'
    document.getElementById(g).style.display = 'none'
  }

  function check(image) {
    if(image.size > 1*1024*1024) {
      swal({
                title: "文件超过1M",
                text: "请裁剪后上传~"
            });
      return false
    }else {
      return true
    }
  }


  $('#pictureInput0').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    if(check(image)) {
    var reader = new FileReader();
    reader.onload = function(file) {
      show('cancel_0','target_0','g0',file.target.result)
    }
    reader.readAsDataURL(image);
    console.log(files);
  }
  else {
    cancel("pictureInput0","cancel_0","target_0","g0")
  }
  });
  $("#cancel_0").click(function(){
    cancel("pictureInput0","cancel_0","target_0","g0")
  })

  $('#pictureInput1').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    if(check(image)) {
    var reader = new FileReader();
    reader.onload = function(file) {
      show('cancel_1','target_1','g1',file.target.result)
    }
    reader.readAsDataURL(image);
    console.log(files);
  }
  else {
    cancel("pictureInput1","cancel_1","target_1","g1")
  }

  });
  $("#cancel_1").click(function(){
    cancel("pictureInput1","cancel_1","target_1","g1")
  })

  $('#pictureInput2').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    if(check(image)) {
    var reader = new FileReader();
    reader.onload = function(file) {
      show('cancel_2','target_2','g2',file.target.result)
    }
    reader.readAsDataURL(image);
    console.log(files);
  }else {
    cancel("pictureInput2","cancel_2","target_2","g2")
  }
  });
  $("#cancel_2").click(function(){
    cancel("pictureInput2","cancel_2","target_2","g2")
  })

  $('#pictureInput3').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    if(check(image)) {
    var reader = new FileReader();
    reader.onload = function(file) {
      show('cancel_3','target_3','g3',file.target.result)
    }
    reader.readAsDataURL(image);
    console.log(files);
  } else {
    cancel("pictureInput3","cancel_3","target_3","g3")
  }
  });
  $("#cancel_3").click(function(){
    cancel("pictureInput3","cancel_3","target_3","g3")
  })

  $('#pictureInput4').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    if(check(image)) {
    var reader = new FileReader();
    reader.onload = function(file) {
      show('cancel_4','target_4','g4',file.target.result)
    }
    reader.readAsDataURL(image);
    console.log(files);
  }
  else {
    cancel("pictureInput4","cancel_4","target_4","g4")
  }
  });
  $("#cancel_4").click(function(){
    cancel("pictureInput4","cancel_4","target_4","g4")
  })


  $('.chosen-select').chosen({});
  $(".chosen-select").chosen().change(function(v) {
    $("#form_tag").val($(this).val());
  });
});

</script>
